header {
  background-color: blue;
}

h1 {
  color: white;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

article {
  background-color: blue;
}

h2 {
  color: white;
  text-align: right;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

p {
  color: white;
  text-align: right;
  font-family: "Comic Sans MS", cursive, sans-serif
}

 img {
   height: 250px;
   width: 400px;
   transform: rotate(270deg);
   position: relative;
   top: 100px;
 }
